.canvas-container .btn {
    border: 2px solid var(--clr6);
    color: var(--clr6);
    background-color: var(--clr4);
    border-radius: 2em;
    align-self: flex-start;
    padding: 0.75em 1.625em;
    position: relative;
    margin-top: 20px;
    transition: padding 0.4s;
}

.canvas-container .btn:hover {
    border: 2px solid var(--clr1);
    color: var(--clr1);
}

.upload-share>*.btn{
    margin-bottom: 20px;
}

a{
    text-decoration: none;
}

