canvas {
    display: block;
    outline: 1px solid black;
    background-color: white;
}

.canvas-container {
    background-color: rgb(225, 228, 232);
place-content: center;
flex-wrap: wrap;
margin-top: 5vh;
}

.canvas nav {
    width: 50vw;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 5px;
}

nav>* {
    align-self: center;
    margin-bottom: 5px;
}

.shapes-btns button{
    border:0px;
}

.colors-btns img{
    width: 30px;
    height: 30px;
}

.editor-options{
    flex-basis: 50%;
    text-align: center;
    margin-top: 5vh;
}

