.main-header {
    background-color: var(--clr0);
    color: var(--clr4);
    box-shadow: inset 0px -1px 0 #000;
  }
  
  .main-header .main-nav a {
    color: inherit;
    text-decoration: none;

  }
  
  .main-header .main-nav a.active {
    color: var(--clr1);
    cursor: default;
  }
  
  .logo {
    font-family: eurofurence, sans-serif;
    letter-spacing: 0.8px;
    font-size: 2.5em;
  }
  
  .logo-dot {
    color: var(--clr1);
  }
  
  @media (max-width: 780px) {
    .main-header {
      width: 100%;
      z-index: 1;
    }

    .main-header .main-nav li:hover {
      color: var(--clr1);
      background: #1e1e1ef7;
    }
  
    .main-header .main-nav li {
      padding: 2rem 0;
      border-bottom: 1.5px solid rgb(27, 25, 25);
      width: 100%;
      text-align: center;
      
    }

    body.main-nav{
      color: gray;
    }
    .main-nav ul {
      position: absolute;
      right: 0;
      flex-direction: column;
      align-items: center;
      background: #292929f7;
      width: 150px;
      justify-content: flex-end;
       overflow: hidden;
    }
  
    body.menu-open .main-nav ul {
      max-height: 100vh;
    }
    .menu-toggle-btn {
      background-color: inherit;
      border: none;
      font-size: 2rem;
      color: white;
      cursor: pointer;
    }
  }
  @media (min-width: 780px) {
 
    .main-header .main-nav a {
      min-width: 130px;
      height: 130px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  
      .nav-list {
      align-items: center;
    }
    .menu-toggle-btn {
      display: none;
    }
  }
  