:root {
    /* pallete */
    /* header color */
    --clr0: #E9C46A;
    /* brand color */
    --clr1: #E76F51;
    /* search bar color */
    --clr2: #2A9D8F;
    /* white color */
    --clr4: #ffffff;


    /* bp */
    --s: 600px;
    --m: 740px;
    --l: 1130px;
}
